
@{
    Layout = null;

    if (Session["userID"]==null) {
        Response.Redirect("~/Login/Index");
    }
}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TarifX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="~/assets/images/icon/favicon.ico">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/metisMenu.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="~/assets/css/typography.css">
    <link rel="stylesheet" href="~/assets/css/default-css.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <!-- modernizr css -->
  
    <link rel="stylesheet" href="~/assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/assets/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/assets/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/assets/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect. -->
    <link rel="stylesheet" href="~/assets/dist/css/skins/skin-blue.min.css">


    <script src="~/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="//cdn.ckeditor.com/4.10.1/standard/ckeditor.js"></script>

</head>
<body>

    <div id="preloader">
        <div class="loader"></div>
    </div>

    <div class="page-container">

        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a class="logo" style="color:blueviolet; font-size:25px;" href="/AdminYemek/Index"><b>Admin</b></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li>
                                <a href="/AdminYemek/Index" aria-expanded="true"><i class="ti-dashboard"></i><span>Yemek Tarifleri</span></a>
                            </li>

                            <li>
                                <a href="/AdminKategori/Index" aria-expanded="true"><i class="ti-dashboard"></i><span>Kategoriler</span></a>
                            </li>

                            <li>
                                <a href="/AdminGonderilenTarifler/Index" aria-expanded="true"><i class="ti-dashboard"></i><span>Kullanıcıdan Gelenler</span></a>
                            </li>

                            <li>
                                <a href="/AdminIletisim/Mailbox" aria-expanded="true"><i class="ti-dashboard"></i><span>Mail Kutusu</span></a>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div class="main-content">

            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Admin Paneli</h4>

                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">
                            <img class="avatar user-thumb" src="~/assets/images/author/tolgakisin.png" alt="avatar">
                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Tolgahan KİŞİN<i class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Home/Index">Ana Sayfaya Dön</a>
                                <a class="dropdown-item" href="/Login/LogOff">Çıkış yap</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="main-content-inner">
                @RenderBody()
            </div>

            <!-- footer area start-->
            @*<footer>
                    <div class="footer-area" style="">
                        <p>© Copyright 2018 . All right reserved</p>
                    </div>
                </footer>*@
            <!-- footer area end-->
        </div>
    </div>
    <!-- page container area end -->
    <!-- offset area start -->
    <!-- offset area end -->
    <!-- jquery latest version -->
    <script src="~/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/metisMenu.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.min.js"></script>
    <script src="~/assets/js/jquery.slicknav.min.js"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- start zingchart js -->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];</script>
    <!-- all line chart activation -->
    <script src="~/assets/js/line-chart.js"></script>
    <!-- all pie chart -->
    <script src="~/assets/js/pie-chart.js"></script>
    <!-- others plugins -->
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/scripts.js"></script>



    <script src="~/assets/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/assets/dist/js/adminlte.min.js"></script>
</body>
</html>